<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<h1><%= @player_1 %> has attacked <%= @player_2 %></h1>

<h2><%= @player_2 %> takes <%= Player::DEFAULT_ATTACK %> HP damage. He now has <%= @player_2_attacked %> HP</h2>
