<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<div>
  <h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
</div>
<div>
  <h2><%= @game.player_2.name %> has <%= @game.player_2.hit_points %> HP</h2>
</div>
<h2>Turn: <%= @game.current_player.name %> </h2>
<h2><a href="/attack">Attack</a></h2>
